@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=PT+Serif&family=Young+Serif&display=swap");

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent !important;
}

:root {
    --background-color: rgb(10, 10, 10);
    --primary-color: rgb(223, 209, 107);
    --primary-color-light: rgb(129, 121, 59);
    font-size: 62.5%;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: "Montserrat";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

h2 {
    font-size: 6rem;
    text-align: center;
    font-weight: 600;
    color: rgb(223, 223, 223);
}

.info {
    color: rgb(163, 157, 157);
    text-align: center !important;

    font-size: 2.2rem;

    margin: 0 auto;
}

.info.error {
    color: rgb(255, 158, 22);
}

.highlight {
    font-weight: 600;
    color: rgb(229, 188, 39);
}

.btn {
    border: none;
    font-size: 1.8rem;
    padding: 0.7em 0.6em;

    font-weight: 400;
    font-family: "Montserrat";
    color: rgb(211, 211, 211);

    border-radius: 0.25em;

    cursor: pointer;
    transition: 0.15s all ease-in;
}

.btn.primary {
    background-color: var(--primary-color);
    color: #1d1e1e;
}

.btn.secondary {
    background-color: transparent;
    color: rgb(218, 214, 214);
    border-radius: 9px;
    border: 1px solid var(--primary-color-light);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 20px;
}

/* ================ Nav ============== */

.svg1 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    width: 100%;
    height: 120%;
    filter: blur(1px);
}

nav {
    z-index: 2;
    position: fixed;
    left: 50%;
    /* transform: translateX(-50%); */
    margin-block: 2rem;
    /* border: 1px solid red; */

    max-width: 1000px;
    width: 100%;
}
/* .container {
    border: 1px solid red;
} */
nav .container {
    display: flex;
    align-items: center;

    max-width: unset;
    max-width: 1000%;
}

nav .logo {
    font-size: 2.5rem;
    font-weight: 600;

    color: rgb(253, 239, 132);
}

nav ul {
    display: flex;
    align-items: center;
    border: 0.001px solid rgba(128, 128, 128, 0.263);

    width: fit-content;
    margin: 0 auto;

    font-size: 1.6rem;
    gap: 4rem;

    padding-block: 0.7em;
    padding-inline: 3em;
    color: rgb(232, 231, 231);

    border-radius: 10px;

    background-color: rgba(34, 33, 33, 0.932);
}

nav ul:has(.active) {
    font-size: 1.4rem !important;
}

.active {
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 0.9rem;
    border-radius: 0.5rem;
}

ul li {
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

/* ================= hero ================= */

.hero {
    /* border: 2px solid red; */
}

.hero .container {
    height: 100vh;
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hero_content {
    height: max-content;
    margin-top: 150px;

    padding: 5rem 10rem;

    border-left: 0.5px solid grey;
    border-bottom-left-radius: 20px;
    width: 100%;

    font-size: 2.5rem;
    position: relative;
}

/* .hero_content::before {
    content: "";
    position: absolute;
    top: 0;

    width: 90px;
    height: 100px;
    background-color: rgb(200, 255, 127);

    filter: blur(90px);
} */
.hero_left {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.greet {
    font-size: 1.2em;
    color: rgb(156, 153, 153);
    font-weight: bold;
}

.name {
    font-size: 3.6em;
    font-weight: bold;
    /* padding-inline: 0.2em; */
    border-radius: 10px;

    background: radial-gradient(
        circle at 10% 20%,
        rgb(253, 239, 132) 0%,
        rgb(247, 198, 169) 54.2%,
        rgb(21, 186, 196) 100.3%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_bottom {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
}

.hero_top {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    gap: 8px;
}
.hero_img {
    width: 300px;
}

.highlight-bg {
    background-image: linear-gradient(
        to right,
        rgb(26, 93, 93),
        rgb(131, 112, 66)
    );
}

.hero-text {
    font-size: 22px !important;
    font-weight: 500;
}

.hero_content p {
    font-size: 1em;
    color: rgb(210, 206, 206);
    line-height: 1.5em;
}

/* =================== skills =================== */

.skills {
    margin-top: -30px;
    /* margin-bottom: 0px; */
    padding-bottom: 6rem;
}

.skills .container {
    /* border: 1px solid red; */
}

.skills_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 6rem;
}

.skills_left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    border-top: 1px solid rgb(108, 99, 99);
    /* border-bottom: 1px solid rgb(108, 99, 99); */
    /* border-right: 1px solid rgb(108, 99, 99); */
    background-color: rgba(19, 19, 19, 0.463);

    /* background-color: rgb(56, 45, 66); */

    border-radius: 20px;
    padding: 8rem 10rem;

    width: 45%;

    cursor: pointer;
    transition: 0.2s ease-in;

    position: relative;
}

.skills_left::after {
    /* content: "";
    position: absolute;
    top: 0;

    width: 50px;
    height: 50px;
    background-color: rgb(142, 146, 136);

    filter: blur(90px); */
}

.section_summary {
    font-size: 1.8rem;
    color: rgb(154, 149, 149);
    line-height: 1.7em;
}

.skills_right {
    width: 55%;
    display: flex;
    flex-direction: column;

    position: relative;
}

.svg2 {
    position: absolute;
    top: 0;
    right: 0;
}

.skills_list {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */

    width: 100%;
    /* gap: 4rem !important; */
}

.skill_icon,
.icon {
    width: 2.5rem;
    height: 2.5rem;
}

.skill_icon {
    display: flex;
    align-items: center;
    width: 90px;
    height: 90px;

    background-color: #1d1e1e;
    border-radius: 18px;
    padding: 20px;
    margin: 2rem !important;
    box-shadow: 0 0 5px var(--primary-color);
}

/* =============== project ================= */

/* .project_content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
} */

.projects {
    /* margin-top: 50px; */
    padding-block: 6rem;
    background: url("../public/images/bg.svg") no-repeat center center fixed;
    background-size: cover;
    /* margin-bottom: 50px; */
}

.projects_content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projects_content .btn {
    color: black;
    align-self: self-start;
}

.project_list {
    display: flex;
    flex-wrap: wrap;

    gap: 4rem;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project_img {
    width: 450px;
    height: 280px;
    border: 0.2px solid rgb(44, 44, 44);

    border-radius: 1rem;

    padding: 1rem 1rem;
}

.project_img {
    /* width: 100%;
  height: 100%; */

    transition: 0.25s ease-in;
}

.project_title {
    font-size: 2rem;
    font-weight: 500;
    color: wheat;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_detail {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.project_detail img {
    width: 2.5rem;
}

/* ================= Blogs ================ */

.blogs {
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */

    /* border-top: 0.5px solid rgb(71, 70, 70); */
    /* border-radius: 25px; */

    /* background: url("../public/images/bg2.svg") no-repeat center center fixed;
    background-size: cover; */

    /* padding: 100px 5px; */
    padding-block: 10rem;
}

.blogs .container {
    position: relative;
    border-left: 1px solid grey;
}

.blogs .container::before {
    content: url("../public/images/test1.svg");
    position: absolute;
    top: -20%;
    left: -5%px;

    width: 20%;
    opacity: 0.7;
}

.blogs_content {
    margin-top: 50px;
    display: flex;
    gap: 5.5rem;
}

.blogs_content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;

    width: 100px;
    height: 100px;
    background-color: rgb(200, 255, 127);

    filter: blur(100px);
}

.blog_left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.blogs_right {
    width: 50%;
}

.blog_right img {
    max-width: 550px;
    box-shadow: 0 0 8px grey;
}

.blog_title {
    font-size: 2.5rem;
    color: rgb(221, 221, 221);
    font-weight: 500;
}

.blog_date {
    color: grey;
    font-size: 1.5rem;
}

.blog_tags {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    padding: 3.8rem 0 0 0;
    position: relative;
}

.blog_tags::before {
    content: "Topic:";
    position: absolute;

    color: white;
    top: 0;
    left: 0;
    font-size: 2rem;
}

.blog_tags span {
    font-size: 1.4rem;
    color: white;
    border: 0.5px solid grey;

    background-color: rgb(21, 21, 21);

    padding: 0.7em 0.9em;
    border-radius: 0.8em;
}
.blogs .btn.secondary {
    display: flex;
    gap: 0.8rem;
}

.blogs .btn.btn.primary {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-color: rgb(95, 90, 54) !important;

    color: black;

    margin-top: 20px;
    width: max-content;
}

/* =================== Socials =============== */
section {
    /* border: 1px solid red; */
}

.socials {
    /* margin-bottom: 100px; */
    padding: 10rem 3rem;
    /* background-color: #1d1e1e8f; */

    border-top: 0.5px solid grey;
    background-image: url("../public/images/bg.svg"),
        linear-gradient(to bottom, #1d1e1e, var(--background-color));
    border-radius: 50px;
    /* margin-top: 50px; */
    /* background:  no-repeat center center fixed; */
    background-size: cover;
    background-position: center;
    /* margin-bottom: 50px; */

    position: relative;
}

.socials .container::before {
    content: url("../public/icons/t1.svg");
    position: absolute;
    top: -8%;
    left: 18%;

    transform: rotate(-70deg);

    opacity: 0.4;
    width: 20%;
}

.socials .container .svg_float:nth-of-type(1) {
    bottom: 1%;
    right: 2%;
    opacity: 0.4;
}

.socials .container .svg_float:nth-of-type(2) {
    bottom: -10%;
    left: 2%;
    opacity: 0.4;
}

.svg_float {
    width: 100px;
    height: 100px;
    position: absolute;
}

.socials h2 {
    margin-bottom: 70px;
}

.social_container {
    display: flex;
    align-items: center;

    gap: 6%;
    justify-content: center;

    position: relative;
}

.social_container a {
    /* width: 10%; */
    max-width: 180px;
}

.social_icon {
    display: block;

    width: 8rem;
    padding: 2rem;
    border-radius: 1.8em;
    box-shadow: 0 0 5px rgb(126, 125, 125);
}

.highlight2 {
    font-size: 3.2rem;
    color: rgb(164, 164, 52);
}

@media screen and (max-width: 690px) {
    :root {
        font-size: 50%;
    }
    nav .logo {
        font-size: 2rem;
    }
    nav ul {
        padding-inline: 8px;
        margin-inline: 0;
    }
    nav .container {
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
    }

    .hero_content {
        margin-top: 110px;
        font-size: 2rem;
        padding-inline: 5rem;
    }
    .hero_top {
        flex-direction: column;
    }
    .skills {
        margin-top: -80px;
        padding-bottom: 1rem;
    }
    .skills_content {
        flex-direction: column;
        gap: 0;
    }
    .skills_left,
    .skills_right {
        padding: 6rem 4rem;
        width: 100%;
    }
    .skills_right {
        padding-inline: 3.6rem;
    }

    .projects {
        padding-top: 5rem;
    }

    .blogs {
        padding-top: 120px;
    }
    .blog_right {
        order: 0 !important;
    }
    .blog_left {
        order: 1 !important;
        width: 100%;
    }

    .blogs_content {
        flex-direction: column;
        gap: 2rem;
    }
    .more_blogs {
        margin-top: 25px;
    }

    .social_icon {
        padding: 1rem;
        width: 6rem;
    }
}

@media screen and (max-width: 500px) {
    .hero_content p {
        font-size: 1.05em;
        color: rgb(210, 206, 206);
        line-height: 1.5em;
    }
    .project_img {
        width: 320px;
        height: 200px;
    }
    .blogs .container::before {
        top: -25%;
        left: 1%;

        opacity: 0.4;
    }
    .social_container div {
        width: 20%;
    }
    .socials .container::before {
        content: url("../public/icons/t1.svg");
        position: absolute;
        top: 5%;
        left: 2%;

        transform: rotate(-60deg);

        opacity: 0.2;
        width: 16%;
    }
    .svg_float {
        opacity: 0.2 !important;
    }
    .highlight2 {
        font-size: 3rem !important;
    }

    .skill_icon {
        display: flex;
        align-items: center;
        width: 60px !important;
        height: 60px !important;

        background-color: #1d1e1e;
        border-radius: 18px;
        padding: 12px;
        margin: 2rem !important;
        box-shadow: 0 0 5px var(--primary-color);
    }
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@media (hover: hover) {
    ul li:hover {
        color: grey;
    }
    .project_img:hover {
        transform: scale(1.1);
    }
    .skills_left:hover {
        background-color: rgb(24, 24, 24);
    }
    .btn.primary:hover {
        transform: translateY(-2px);
        opacity: 0.8;
    }

    .btn.secondary:hover {
        transform: translateY(-2px);
        opacity: 0.8;
    }
}
